html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
     margin: 0;
    padding: 0;
  
    font-family: "Helvetica", "Arial", sans-serif;
    /*font-size: @text-size--small;
    line-height: @text-height--small;
    font-weight: 400;
    color: @color-main-text; */
  
    background-color: #ffffff;
  }
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: "PTRoot";
    font-style: normal;
    font-weight: 300;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("PT ROOT"),
         /* Если браузер, загрузит woff */
         url("/fonts/PT-Root-UI_Light_1.woff") format("woff");
}

@font-face {
    font-family: "PTRoot";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("PT ROOT"),
         /* Если браузер, загрузит woff */
         url("/fonts/PT-Root-UI_Regular_1.woff") format("woff");
}
@font-face {
    font-family: "PTRoot";
    font-style: normal;
    font-weight: 500;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("PT ROOT"),
         /* Если браузер, загрузит woff */
         url("/fonts/PT-Root-UI_Medium_1.woff") format("woff");
}
@font-face {
    font-family: "PTRoot";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("PT ROOT"),
         /* Если браузер, загрузит woff */
         url("/fonts/PT-Root-UI_Bold.woff") format("woff");
}

.main {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;

    width: 100%;

    margin-top: 70px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    width: 1360px;
}


.header__logo {
    margin-left: 20px;
}

.header__image-two-arrow {
    margin-right: 27px;
}

.header__image-qr-code {
    margin-bottom: 13px;
}

.main__text-svg {
    margin: 0 auto;
}

.main__text-svg {
    margin-top: -4px;
    padding-left: 62px;
}

.developer-fonts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 128px;

    width: 1000px;
    height: 600px;

    border: 10px solid #000000;
    border-radius: 55px;
}

.developer-fonts__title {
    margin: 0 auto;
    margin-top: 38px;
    padding-left: 10px;

    font-family: "PTRoot", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
}

.developer-fonts__wrapper {
    display: flex;
    margin-top: 110px;
}

.developer-fonts__image-author {
    margin-left: 67px;

    height: 225px;
}

.developer-fonts__description {
    width: 420px;

    margin: 0;
    margin-top: 118px;
    margin-left: 46px;

    font-family: "PTRoot", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.14em;
    text-align: left;    
}

.developer-fonts__name-surname {
    margin-left: 55px;
}

.developer-fonts__image-code {
    height: 223.27px;
    width: 74.62px;

    margin-left: 14px;
}

.developer-fonts__promo-text {
    margin-top: 50px;
    margin-left: 81px;

    font-family: "PTRoot", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;

}

.product-instructions-and-guides {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 244px;

    width: 1340px;
    height: 382.17px;
    
}

.product-instructions-and-guides__description-wrapper {
    border: 3px solid #000000;
    margin-top: 10px;
    height: 345.17px;
}

.product-instructions-and-guides__title {
    width: 703.15px;
    height: 26.4px;

    display: flex;
    margin: 0 auto;
}

.product-instructions-and-guides__description {

    margin: 0 auto;
    margin-top: 64px;

    width: 1234.4px;

    font-family: "PTRoot", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.05em;
}

.information-about-fonts {
    width: 1394.61px;
    height: 2310.6px;
    border: 5px solid #000000;
    border-bottom: none;

    position: relative;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 114px;
}

.information-about-fonts__title {
    margin: 0 auto;
    margin-top: 45px;
    width: 739px;
    padding-left: 75px;

    font-family: "PTRoot", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0.05em;

    text-align: center;
}

.information-about-fonts__line {
    margin-top: 21px;
}

.list-info-text {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    padding-top: 42px;

    list-style-type: none;
}

.list-info-text__item {
    display: flex;
    margin-top: 67px;
}

.list-info-text__item-img {
    margin: 0 auto;
}

.information-about-fonts::after {
    content: "";

    position: absolute;

    background-image: url("./img/information-about-fonts-after.svg");

}

.information-about-fonts__qr-code {
    width: 508.08px;
    height: 152.1px;

    margin: 0 auto;
    margin-top: 47px;
}


.information-about-fonts__organic {
    margin-top: 23px;
}

.information-about-fonts__organic-bottom {
    margin-top: 49px;
}

.promo {
    margin: 0 auto;
    margin-top: -1px;
}

.additional-information {
    border: 15px solid #000000;
    border-radius: 52px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 54px;
    width: 1258.63px;
    height: 676.33px;
}

.additional-information__title {
    margin: 0 auto;
    margin-top: 14px;
}

.additional-information__text-one {
    margin: 0 auto;
    margin-top: 71px;
}

.additional-information__text-two {
    margin: 0 auto;
    margin-top: -65px;
}

.additional-information__bucket {
    margin-left: auto;
    margin-right: 120px;
    margin-top: 36px;

    width: 90.27px;
height: 90.27px;
}

.diagonal-line {
    width: 100%;

    margin-top: 270px;
}